.snapshots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(170px, auto);

  .box {
    border: 1px solid #384256;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
  }
  .box1 {
    grid-column: span 1;
    grid-row: span 3;
  }
  .box4 {
    grid-column: span 1;
    grid-row: span 3;
  }
  .box7 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .box8 {
  }
}
.snapshot-periods {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}
