.circleChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: max-content;
  align-items: center;

  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .infoContainer {
    max-width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;
      text-align: center;
      .text {
        height: 18px;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 10px;

        .dot {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          margin-left: 10px;
        }
        .text-title {
          font-size: 16px;
        }
      }
      .span {
        margin-left: 10px;
        display: block;
        font-size: 16px;
        margin-left: 30px;
      }
    }
  }
}
