.home {
  display: grid;
  grid-column: auto !important;
  grid-row: auto !important;
  grid-template-columns: 1fr;
  grid-template-areas:
    "box7"
    "box3"
    "box1a"
    "box1b";
}
.box {
  border: 1px solid #384256;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.box7 {
  grid-area: box7;
}

.box3 {
  grid-area: box3;
  margin-top: 30px;
}
.box1.box1a {
  grid-area: box1a;
}
.box1.box1b {
  grid-area: box1b;
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr; /* dos columnas para los box1 al final */
    grid-template-areas:
      "box7 box7" /* box7 ocupa todo el ancho */
      "box3 box3" /* box3 ocupa todo el ancho */
      "box1a box1b"; /* box1a y box1b uno al lado del otro */
    grid-auto-rows: minmax(130px, auto);
    gap: 20px;
    width: 100%;
  }

  .box7 {
    grid-area: box7;
    width: 100%;
  }

  .box3 {
    grid-area: box3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .box1.box1a {
    grid-area: box1a;
    width: 100%;
  }

  .box1.box1b {
    grid-area: box1b;
    width: 100%;
  }

  .box {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(130px, auto);

    height: 87.5vh;
  }

  .box {
    border: 1px solid #384256;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    height: max-content;
  }

  .box7 {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .box1.box1a {
    grid-column: 1;
    grid-row: 2;
    margin-top: 50px;
  }

  .box3 {
    display: flex;
    grid-column: 2 / span 2;
    grid-row: 2;

    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .box1.box1b {
    grid-column: 4;
    grid-row: 2;
    margin-top: 50px;
  }
}
