.footerContainer {
  padding: 5px 20px;
}

.footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont {
  display: flex;
  align-items: center;
  gap: 10px;
}
