.barChart {
  padding: 0;
  margin: 0;

  height: 100px;
  .title {
    height: 18px;

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    p::first-letter {
      text-transform: capitalize;
    }
  }
}
